body {
   margin:0;
   padding:0;
}

header {
   height: 80px;
   width: 100%;
   background-color: #47A7F5;
   border-bottom: 6px solid #350805;
   position:absolute;
   top:0;
   left:0;
   z-index: -1;
}

.content {
  padding-right: 40px;

}

.sidebar {
  position: absolute;
  top:86px;
  right: 0;
  width: 375px;
  color: black;
  background-color: white;
  height: 70%;
  display: none;
  overflow-y: auto;
  border-left-style: solid;
  border-left-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;

}

.sidebar-toggle {
  position: absolute;
  top: 49px;
  left: 810px;
  width: 178px;
  height: 20px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.sidebar-toggle:hover {
padding-bottom: 8px;
border-bottom: 3px solid #350805;
cursor: pointer;
}

.sidebar-content {
  padding-left: 15px;
  padding-right: 10px;
}

li {
  margin-bottom: 5px;
}

div.title {
   font-size: 2.1em;
   font-weight: bold;
   margin-left: 20px;
   line-height: 80px;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%; 
    z-index: -2;
}

.leaflet-top .leaflet-control {
    margin-top: 97px;
}


.bus_select {
  position: absolute;
  left: 385px;
  top: 15px;
  z-index: 101;
}


.jeep_select {
  position: absolute;
  left: 385px;
  top: 45px;
  z-index: 101;
}


select {
    font-size: 15px;
    width: 300px;
    
}